expander > box {
  padding-left: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}
expander {
  border-bottom: 1px solid #ddd;
}
textview {
  font-family: monospace;
  font-size: 14px;
  -cursor-visible: false;
  -accepts-tab: false;
  -editable: false;
}
